body
{
    /* background-color: rgb(232, 239, 241); */
    background-color: rgb(114, 83, 175);
    padding: 0;
    margin: 0;
}
.icon
{
    padding-left: 94%;
    /* padding-right: 0px; */
}
.contenant
{
    padding-top: 2%;
    padding-left: 20%;
}
.cont 
{
    display: flex;
}
.icon2
{
    padding-left: 250px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 15px;
}
.loser
{
    width: 250px;
    padding-top: 60px;
    padding-left: 25px;
}
.ins
{
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
    color: black;
}
.div1
{
    background-color: rgb(255, 255, 255);
    width: 350px;
    border-radius: 5px;
    text-align: center;
    margin: 15px;
    font-size: 30px;
}
.div2
{
    background-color: rgb(67, 140, 209);
    /* background-color: rgb(128, 0, 248); */
    width: 350px;
    border-radius: 5px;
    text-align: center;
    margin: 15px;
}
p
{
    font-size: 25px;
}