*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F9F9F9;
}


main{
    margin-left: 17%;
    width: 83%;
    padding: 25px 30px;
    position: relative;
    background-color: #F9F9F9;
    transition: all .5s ease;
}
#menu-button{
    display: none;
}
.infos{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    color: #1a1a1a;
    padding: 15px 17px;
    gap: 20px;
}
.case-section{
    display: flex;
    align-items: center;
    gap: 22px;
}
.medecin-photo{
    width: 78px;
    height: 78px;
    border-radius: 15px;
}
.case-informations{
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 200%;
}
.case-informations span{
    font-size: 23px;
}
.nom-like{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nom-like span{
    font-weight: 800;
    font-size: 12px;
}
hr{
    border: 1px solid #E5E5E5;
}
.time{
    display: flex;
    color: maroon;
    gap: 10px;
}
.detail{
    color:maroon;
    font-size: 23px;
}


.box-container{
    display: flex;
    gap: 20px;
}
.box-container .accept-button{
    color: white;
    background-color: rgb(124, 238, 124);
    width: 120px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
}

.box-container .refuser-button{ 
    color: #CC3C3C;
    width: 120px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    border: 2px solid #CC3C3C;
    border-radius: 15px;
}

.etat-status{
    position: absolute;
    right: 20px;
    top: 18px;
    width: fit-content;
    padding: 8px 8px;
    border-radius: 15px;
    font-size: 15px;
}
.etat-status.en-attente{
    border: 5px solid blueviolet;
    color: blueviolet;
}


.statut-en-attente{
    position: relative;
}

h4{
    color: black;
}

h1{ color: black;}

#Samb{padding-left: 300px;}


@media screen and (max-width: 1250px) {
    
    main{
        margin-left: 20%;
        width: 80%;
    }
}

@media screen and (max-width: 1060px) {
    
    main{
        margin-left: 25%;
        width: 75%;
    }
}
@media screen and (max-width: 950px) {
    h1{
        font-size: 16px;
    }
}

@media screen and (max-width: 848px) {
    
    main{
        margin-left: 30%;
        width: 70%;
    }
    .finaliser-div{
        width: 100%;
    }
}


@media screen and (max-width: 710px) {
    
    main{
        margin-left: 35%;
        width: 65%;
    }
    .element span{
        font-size: 15px;
    }
    h1{
        font-size: 24px;
    }
}
    

@media screen and (max-width: 565px) {
    
    
    main{
        margin-left: 0;
        width: 100%;
        height: 100vh;
    }
    #menu-button{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    #menu-img.active{
        display: none;
    }
    
    .box-container{
        justify-content: space-between;
    }
    .etat-status{
        font-size: 10px;
    }
    
    
   
    h1{
        font-size: 18px;
    }
}